@page
@model Avto1Test.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Url</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Url.MainURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Url.MainURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Url.TinyURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Url.TinyURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Url.DateCreate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Url.DateCreate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Url.NumOfCall)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Url.NumOfCall)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Url?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
