@page
@using Avto1Test.Ext;
@model Avto1Test.Pages.IndexModel

@*@Html.AntiForgeryToken()*@
@{    

    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Список URL</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url[0].MainURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url[0].TinyURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url[0].DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url[0].NumOfCall)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Url)
{
        <tr>
            <td>
                    <a href="@item.MainURL">@item.MainURL</a>
            </td>
            <td>
                    @*<a id="target" href="@item.MainURL"><asp action="./GetUri(@item.TinyURL)"></asp></a>*@
                    @*<a id="target" name="@item.Id" href="@item.MainURL">@item.TinyURL </a>*@
                    @*<a id="target" href="@item.MainURL">@item.TinyURL</a>*@
                    
                    <a name="@item.Id" id="target" href="@item.MainURL">@item.TinyURL</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfCall)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    $(document).ready(function () {
        var links = document.querySelectorAll('#target');
        links.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                var urll = $(this).attr('href');
                var idL = $(this).attr('name');

                var params = { id: idL };
                $.post("/Index?handler=Increm", params)                
                    .done(function (data, status) {
                        //alert("Data: " + data + "\nStatus: " + status);
                        window.location.href = urll;
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert("Ошибка: " + textStatus + "\n" + errorThrown);
                    });
            });
        });
    });
</script>